.parent{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-areas: "title title"
                         "container clear"
                         "container scoreboard"
                         "turn turn"
    ;
}
/* title class that has the game name */
.title{
    grid-area: title;
    color: white;
    font-size: 7.1em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}


/* The major container that hold all the game divs */
.container{
    grid-area: container;
    width: 50vw;
    margin-left: 17%;
    margin-top: 5%;
    display: grid;
    background-color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-areas: "one two three"
                         "four five six"
                         "seven eight nine"
    ;
}

/* The class for all the squares that parents their characteristics */
.grid{
  width: 17vw;
  height: 17vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}
.grid:hover{
    cursor: pointer;
    background-color: rgba(199, 192, 192, 0.034);
}

/* I am separating all the playing grids into individual squares and adding borders so that I can better see what the user will see on their screens */
#one{
    grid-area: one;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#two{
    grid-area: two;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#three{
    grid-area: three;
    border-bottom: 1px solid white;
}
#four{
    grid-area: four;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#five{
    grid-area: five;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#six{
    grid-area: six;
    border-bottom: 1px solid white;
}
#seven{
    grid-area: seven;
    border-right: 1px solid white;
}
#eight{
    grid-area: eight;
    border-right: 1px solid white;
}
#nine{
    grid-area: nine;
}
/* winner class has the display message and the play again button */
.winner{
    background-color: black transparent;
    color: rgb(109, 69, 69);
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;   /* this is just the default for when the game is being played */
}
/* Play again button styling */
.restart{
    cursor: pointer;
    font-size: 30px;
    background-color: black;
    color: rgb(109, 69, 69);
    border: 2px solid white;
}
.restart:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.winner.display {
    display: flex;
}
/* the clear board button styling */
.clear{
    grid-area: clear;
    align-items: center;
    }
.clearboard{
    cursor: pointer;
    font-size: 30px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 2px white solid;
    margin-top: 30%;
    margin-left: 6%;
}
.clearboard:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

/* start of scoreboard styling */
.scoreboard{
    grid-area: scoreboard;
    border: solid 1px red;
    color: white;
}


/* styling start of turn div */
.turn{
    grid-area: turn;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}