/* The major container that hold all my divs */
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-areas: "one two three"
                         "four five six"
                         "seven eight nine"
    ;
}

/* The class for all the squares that parents their characteristics */
.grid{
  width: 15vw;
  height: 15vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}
.grid:hover{
    cursor: pointer;
    background-color: rgba(199, 192, 192, 0.034);
}

/* I am separating all the playing grids into individual squares and adding borders so that I can better see what the user will see on their screens */
#one{
    grid-area: one;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#two{
    grid-area: two;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#three{
    grid-area: three;
    border-bottom: 1px solid white;
}
#four{
    grid-area: four;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#five{
    grid-area: five;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#six{
    grid-area: six;
    border-bottom: 1px solid white;
}
#seven{
    grid-area: seven;
    border-right: 1px solid white;
}
#eight{
    grid-area: eight;
    border-right: 1px solid white;
}
#nine{
    grid-area: nine;
}
.winner{
    background-color: black transparent;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;   /* this is just the default for when the game is being played */
}
.restart{
    cursor: pointer;
    font-size: 30px;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.restart:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.winner.display {
    display: flex;
}